body {
	background-color:#cccccc;
	margin-left: 50px;
	margin-right: 50px;
}


h1 {
	background-color:#3399ff;
}


h2{ 
	background-color:#B0ADF8;
}


h3 {

}


p {

}


a:visited {
	color:blue;
}


a:hover {
	color:#16C7CB;
}

footer, header {
    padding: 1em;
    color: black;
    /*background-color: #3399ff;*/
    clear: both;
    text-align: center;
}